!.*
*.swp
.bash_logout
.bash_sessions
.CFUserTextEncoding
.DS_Store
.Trash/
.cups/
.dropbox/
.elinks/
.gem/
.profile
.xbmc/
.zcompdump
.zsh-update
.*history
.oh-my-zsh
.gnupg
.irssi
.lesshst
.rnd
.rvm
.smb
.ssh
.viminfo
.vim/.VimballRecord
.vim/.netrwhist
.vim/doc/
.vim/autoload
.vim/plugged
.links/
.macports/
.vagrant.d/
.w3m/
.cache
.aptitude/
.bin
.vim/bundle
.subversion
.anyconnect
.htoprc
.mutt
.vim/view
.offlineimap*
.cpanm
.mail
.mailcap
.local
.rbenv
.npm
.msmtp.log
.node-gyp
.pt
.zcompdump*
.netrc
.heroku
.vim/plugin
community-prism/app/assets/js/ng_factories/socket_broadcaster.js
.ruby-version
Applications/
Code
Desktop
Documents
Downloads
LaunchAgents
Library
Movies
Music
Pictures
Public
google-cloud-sdk
config/database.yml
*.min.js
*.map
.wget-hsts
.config/direnv
.docker
.travis
Logs
go
node_modules
.logdna.conf
.envrc
.aws
.asdf
.angular-config.json
.helm
.zprezto
.npmrc
.kube
.selected_editor
.config
.standard-v14-cache
.google-cloud-sdk
.circleci
.sentryclirc
.fzf
bin
.git-credentials
secrets
