[user]
  name = Louis Clotman
	email = louis@clotman.name
[core]
	editor = vim
	excludesfile = /Users/louis/.gitignore_global
	whitespace = trailing-space,space-before-tab
[color]
  diff = auto
  status = auto
  branch = auto
[color "diff"]
  meta = yellow
  frag = cyan
  old = red
  new = green
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit -a
  cl = clean -dfx
  co = checkout
  cpk = cherry-pick
  #hist = log --branches --remotes --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
  histbasic = log  --graph --pretty=format:'%h%x09%an%x09%ad%x09%s'
  hist = log --branches  --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  histall = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
  tt = timetrack
  taghist = log --no-walk --tags --pretty='%h %d %s' --decorate=full
[push]
  default = simple
[grep]
  linenumber = true
  fullName = true
[web]
  browser = elinks
[merge]
  tool = vimdiff
	stat = true
[rerere]
	enabled = false
[diff]
	renames = copies
[commit]
	verbose = true
[advice]
	detachedHead = false
[rebase]
	autosquash = true
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[fetch]
	prune = true
[gitflow "feature.finish"]
	keep = true
	push = true
[gitflow "feature.delete"]
	remote = true
