!.*
*.swp
.bash_logout
.CFUserTextEncoding
.DS_Store
.Trash/
.cups/
.dropbox/
.elinks/
.gem/
.profile
.xbmc/
.zcompdump
.zsh-update
.*history
.oh-my-zsh
.gnupg
.irssi
.lesshst
.rnd
.rvm
.smb
.ssh
.viminfo
.vim/.VimballRecord
.vim/.netrwhist
.vim/doc/
.links/
.macports/
.vagrant.d/
.w3m/
.cache
.aptitude/
.bin
.vim/bundle
.subversion
.anyconnect
.htoprc
.mutt
.vim/view
.offlineimap*
.cpanm
.mail
.mailcap
.local
.npm
.msmtp.log
.node-gyp
.pt
.zcompdump*
.netrc
.heroku
.vim/plugin
